* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
    border: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
}

.bfnav {
    background-image: url("../img/1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.layer {
    background-color: rgba(255, 192, 0, 0.2);
    color: #fdfefe;
    padding-top: 450px;
    padding-bottom: 350px;
    font-weight: bold;
    text-align: center;
    font-family: Gill Sans Extrabold;
    font-size: 5.5vw;
    font-style: oblique 10deg;
    background-color: #34495e;
    opacity: 0.4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.part {
    background-color: rgba(255, 192, 0, 0.2);
    text-align: left;
    background-color: #34495e;
    opacity: 0.4;
    width: 100%;
    padding-bottom: 20px;
}

.navbar-brand {
    margin-left: 2%;
}

nav {
    font-family: 'Acme', sans-serif;
    padding: .5%;
}

#navbar {
    overflow: hidden;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    font-size: 17px;
    transition: all ease-in-out 250ms;
    font-family: monospace;
    font-weight: bold;
    color: #E6E6E6;
}

.content {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 5%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom: 5%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url("../img/set.jpg");
    background-size: cover;
    background-position: center;
    min-width: 250 px;
    overflow-wrap: break-word;
}

#stella {
    max-width: 15vw;
    width: 190px;
    height: 190px;
    height: auto;
    display: block;
    top: 0px;
    border-radius: 150px;
    margin-left: 45%;
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius: 190px;
    -webkit-border-radius: 190px;
    border-radius: 190px;
    border: 2px solid #fff;
}

.content-sub {
    background: rgb(0, 0, 0, 0.4);
}

#about {
    text-align: left;
    padding-top: 2%;
    padding-left: 38%;
    color: #a5dd40;
    font-family: 'Acme', sans-serif;
    font-size: 23px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 102px;
}

.btn {
    -webkit-border-radius: 18;
    -moz-border-radius: 18;
    border-radius: 18px;
    font-family: 'Patrick Hand', cursive;
    font-size: 18px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(249, 0, 255, 0.3));
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    position: absolute;
    color: white !Important;
}

.btn:hover {
    background-color: grey;
    color: white;
}

.about-btn {
    position: relative;
    color: white;
    left: 50%;
}

#interests {
    text-align: right;
    padding-right: 2%;
    padding-left: 40%;
    color: #eee376;
    font-family: 'Acme', sans-serif;
    font-size: 23px;
}

.interest-btn {
    position: absolute;
    right: 60%;
    color: white;
}

#goto {
    text-decoration: none;
    text-align: center;
    font-family: GulimChe;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 1%;
    justify-items: center;
    display: grid;
}

#goto a:hover {
    font-weight: bold;
    font-family: MS Gothic;
}

#side {
    float: right;
    height: 820px;
    width: 500px
}

#foll {
    padding-left: 540px;
    height: 90px;
    width: 200px;
}

.col {
    float: left;
}

#social {
    background-color: white;
    font-family: 'Quicksand', serif;
    padding: 2%;
    height: auto;
    color: black;
    font-size: 30px;
    text-align: center;
    margin-top: -40px;
    bottom: 0;
    border: 10%;
    overflow: hidden;
}

.social-content {
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.2) 0%, rgba(9, 48, 121, 0.2) 14%, rgba(7, 89, 155, 0.2) 47%, rgba(0, 239, 255, 0.2) 100%);
    position: relative;
    top: 20%;
}

.linkz {
    padding: 0;
}

#social a {
    text-decoration: none;
    color: var(--color-bright);
}

.footer-img {
    align-content: center;
    width: 3%;
    display: inline;
    margin: 2%;
}

.social-content {
    position: relative;
    top: 20%;
}

.footer-img:hover {
    width: 3.5%;
}


/***************************** About ******************************************/

.enlarge {
    width: 100%;
}

.mypg-body {
    width: 100%;
    font-family: 'Arima Madurai', cursive;
    color: black;
    font-size: 25px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(97, 81, 81, 0.4)), url("../img/glare_background_blur_dark_63553_1920x1080.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 15px;
}

.caption {
    padding-left: 10%;
    padding-top: 40px;
    width: 100%;
    text-align: left;
    color: #000;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #9b59b6;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    margin-top: 40px;
    padding: 12px;
    font-size: 2vw;
    letter-spacing: 8px;
    margin-left: 3%;
}

.tellthm {
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3%;
    font-size: 15px;
}

table.mypg-tb {
    margin-left: 3%;
    margin-right: 15%;
    margin-top: 2%;
    border: 3px solid white;
    color: #fff;
}

.mypg-tb th {
    text-align: center;
    color: #7d3c98;
    font-size: 18px;
    border: 1px solid white;
}

.mypg-tb td {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mypg-tb tr {
    font-weight: bold;
}

.mypg-tb tr:nth-child(even) {
    background-color: #aed6f1;
    font-weight: bold;
    color: #17202a;
}

.mypg-tb tr:nth-child(odd) {
    font-weight: bold;
    color: #e69b69;
}

.mypg-tb tr:nth-child(odd):hover {
    background-color: #d4e6f1;
    font-size: 18px;
    transition: all ease-in-out 1000ms;
    color: #a04000;
}

.link {
    text-decoration: none;
    color: #17202a;
}

.lastnote {
    width: 100%;
}

.header {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Quantico', sans-serif;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.profile-img {
    float: left;
    width: 26%;
    border-radius: 2%;
    margin-left: 3%;
    margin-right: 5%;
    margin-top: 1.3%;
    margin-bottom: 5%;
}

.mypg-content {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 120%;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
    margin-bottom: 6%;
    padding-bottom: 15%;
}

.test {
    text-align: justify;
    font-family: 'Acme', sans-serif;
    color: white;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
    font-size: 20px;
}


/*******************************************    Gallery **********************************/

.gallery-background {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url("../img/bb.jpg");
    display: block;
    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px;
}

.gallery-content {
    position: absolute;
    width: auto;
    height: 80%;
    left: 50%;
    top: 60%;
    margin-left: 2%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#click {
    height: 80%;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .gallery-content {
        -webkit-transform: translate(0%, 0%);
        transform: translate(-50%, -50%);
        margin-left: -1%;
        margin-right: -10%;
        width: 90%;
        height: 70%;
    }
}


/*********************   Feedback ****************************/

.fb-bg {
    background-image: url(../img/patt.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
}

.pre-fb {
    padding-top: 20px;
    color: blanchedalmond;
}

h4 {
    text-align: center;
}

h3 {
    font-family: 'Quantico', sans-serif;
    text-align: center;
}

table#feedtb {
    width: 6vw;
    text-align: center;
    border: 2px solid;
    border-radius: 2vw;
    border-collapse: collapse;
    margin: 100px auto;
    transition: all 0.3s ease;
}

#feedtb tr {
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

#feedtb tr:hover {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

#feedtb td {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    padding: 1.5%;
    background: rgb(230, 255, 242);
}

#feedtb th {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    padding: 1.5%;
    color: white;
    background: #2A88AD;
}

.fb-mid {
    padding: 14px 0px;
    margin-top: 0%;
    text-align: center;
}

#feedback select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 0.9em;
}

#feedback {
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    padding: 2.5%;
    font-size: 1.1em;
    border-radius: 2vw;
}

#feedback input,
select {
    width: 100%;
    display: block;
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 2vw;
    font-size: 0.9em;
}

#feedback select {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px, 5px 5px, 1px 1.5em;
    background-repeat: no-repeat;
}

#feedback input {
    padding: 10px 0;
}

#feedback #user_input {
    margin-top: 20px;
    padding-left: 20px;
    box-sizing: border-box;
}

#feedback #submitButton {
    margin-top: 20px;
    background: #2A88AD;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 150px;
}

.like-img {
    color: crimson;
    font-size: 30px;
}

.likebtn-wrapper {
    opacity: 1;
}


/********************   projects ******************************************/

.project-body {
    background-image: url(../img/flash.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
}

.projectz {
    padding-bottom: 10%;
    padding-top: 50px;
}

.player {
    margin-top: 2%;
    margin-left: 25%;
    width: 70%;
}

.project-intro h1 {
    text-align: center;
    font-family: 'Akaya Kanadaka', cursive;
    color: white;
    font-size: 50px;
    padding-top: 20px;
}

.project-heading {
    color: aliceblue;
    padding-top: 20px;
}

ul {
    color: white;
    font-family: 'PT Sans', sans-serif;
}

.text-right {
    color: white;
    padding-left: 28%;
    font-weight: bold;
}

.referz {
    color: white;
}