*{
    box-sizing: border-box;
}
body,
html {
    scroll-behavior: smooth;

}

body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.bfnav {
    background-image: url("../img/1.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.layer {
    background-color: rgba(255, 192, 0, 0.2);
    color: #fdfefe;
    padding-top: 450px;
    padding-bottom: 370px;
    font-weight: bold;
    text-align: center;
    font-family: Gill Sans Extrabold;
    font-size: 60px;
    font-style: oblique 10deg;
    background-color: #34495e;
    opacity: 0.4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.part {
    background-color: rgba(255, 192, 0, 0.2);
    color: #fdfefe;
    font-weight: bold;
    text-align: left;
    font-family: Gill Sans Extrabold;
    font-size: 26px;
    font-style: oblique 10deg;
    background-color: #34495e;
    opacity: 0.4;
    width: 100%;
    padding-bottom: 20px;
}



.container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(249, 0, 255, 0.3));
    background-color: cyan;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    width: 100%;
    margin: 0 auto;
}

.container::after {
    content: '';
    display: table;
    clear: both;
}

.active {
    color: rgb(255, 242, 65);
    font-weight: bold;
    font-style: oblique 8deg;
    font-size: 19px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 12px 120px;
    padding-top: 10px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    font-size: 20px;
    transition: all ease-in-out 250ms;
    font-family: monospace;
    color: #E6E6E6;
    font-weight: normal;
}

nav a::before {
    content: '';
    display: block;
    height: block;
    height: 5px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.content {
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 5%;
    padding-right: 15%;
    padding-top: 2%;
    padding-bottom:5% ;
    background-color: rgba(255, 247, 0, 0.5);
    background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url("../img/beauty.jpg");
    background-size: cover;
    background-position: center;
    min-width: 250 px;
}
.content-sub{
    background:rgb(0,0,0,0.6);
}
#about{
    text-align: left;
    padding-top: 2%;
    padding-left: 38%;
    width: 90%;
        color: #a5dd40;

}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 102px;
}

.about-btn {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(249, 0, 255, 0.3));
    background-color: cyan;
    margin-left: 70%;
}
#interests{
    text-align: right;
    padding-right: 2%;
    padding-left: 40%;
    color:#eee376;
}
.interest-btn{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(249, 0, 255, 0.3));
    background-color: cyan;
    margin-left: 30%;
}

button {
    font-size: 1.2vw;
}

#goto {
    text-decoration: none;
    text-align: center;
    font-family: GulimChe;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 1%;
    justify-items: center;
    display: grid;
}

#goto a:hover {
    font-weight: bold;
    font-family: MS Gothic;
}

#side {
    float: right;
    height: 820px;
    width: 500px
}

p {
    
    font-family: 'Acme', sans-serif;
    font-size: 2vw;
}

h2 {
    text-align: center;
}

h1 {
    padding-top: 30px;
    text-align: center;
  font-family: 'Acme', sans-serif;
    font-style: oblique 20deg;
}


h3 {
  font-family: 'Acme', sans-serif;
  padding-left: 330px;
  font-size: 1.6vw;
  display:inline;
}


#foll {
    padding-left: 540px;
    height: 90px;
    width: 200px;
}

.col {
    float: left;
}

#social {
    background: white;
    background-size: cover;
}
#social a{
    text-decoration: none;
  color: var(--color-bright);
  font-size: 2rem;
}

#fbimg {
    padding-top: 27px;
    height: 70px;
    width: 70px;
    padding-left: 350px;
}

button {
    margin-left: 20%;
    background-color: rgb(103, 163, 13);
    width: 5vw;
    border-radius: 2em;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: grey;
    color: black;
}