body,
html {
    height: 100%;
    margin: 0;
}

.gallery-background {
    filter: opacity(70%);
    background-image: url("../img/bb.jpg");
    display: block;
    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px;
}

.gallery-content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#click {
    height: 600px;
    width: 1200px;
}

#click a:hover {
    height: 600px;
    width: 900px;
}

.container {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(249, 0, 255, 0.3));
    background-color: cyan;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;
    width: 100vw;
    margin: 0 auto;
}

.container::after {
    content: '';
    display: table;
    clear: both;
}

.active {
    color: rgb(255, 242, 65);
    font-weight: bold;
    font-style: oblique 8deg;
    font-size: 19px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 12px 120px;
    padding-top: 10px;
    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
}

nav a:hover {
    font-size: 20px;
    transition: all ease-in-out 250ms;
    font-family: monospace;
    color: #E6E6E6;
    font-weight: normal;
}

nav a::before {
    content: '';
    display: block;
    height: block;
    height: 5px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.sticky {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    height: 100px;
    margin-top: 100px;
    left: 50%;
}

.sticky+.background-image {
    padding-top: 102px;
}